.product {
  display: inline-block; /*displays all product array elements in line with there text elements*/
  flex-wrap: wrap; /*wraps elements to next line*/
  border: 1px #404040 solid;
  padding: 10px; /*space between new elements*/
  width: 200px;
  margin: 10px;
  justify-content: center;
}

.products > .prod_image {
  display: flex;
  max-width: 100%;
  height: auto;
}

.prod_image {
  /*sets product pictures width to 100% and height to 200px*/
  width: 60%;
  height: auto;
}
